<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="vieport" content="width = device-width, initial-scale=0.1">
        <title>Auditando...</title>

        <style>
            table,th,td{
                border: 1px solid black;
                border-collapse: collapse;
            }
            h1{
                text-align: center;
            }
            #divpm{
                margin-left: 10%;
            }
            #btenviar{
                margin-left: 80%;
            }
        </style>

    </head>
    <body>
        <table id="tabla1" style="width:80%" align="center">
            <tr><h1>Auditoria de telas</h1></tr>
            <tr>
                <th>Codigo</th>
                <th>Defectos</th>
                <th>Nivel 1</th>
                <th>Nivel 2</th>
                <th>Nivel 3</th>
                <th>Nivel 4</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Hilo grueso en trama</td>
                <td><input type="number" min="0"></td>
                <td><input type="number" min="0"></td>
                <td><input type="number" min="0"></td>
                <td><input type="number" min="0"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Hilo grueso en urdimbre</td>
                <td><input type="number" min="0"></td>
                <td><input type="number" min="0"></td>
                <td><input type="number" min="0"></td>
                <td><input type="number" min="0"></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Faltante de hilo en trama</td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Faltante de hilo en urdimbre</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Frajas de colores</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Plises</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Hilos de colores</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>8</td>
                <td>Arrugas</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Hilo Suelto</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Nudos</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Faltante de licra</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Desgaste</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Piel de naranja</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>14</td>
                <td>Mal Teñido</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>15</td>
                <td>Hoyos</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>16</td>
                <td>Uniones/Splices</td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>17</td>
                <td>Manchas<input type="text" placeholder="Especifique"></td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td>18</td>
                <td>Otros<input type="text" placeholder="Especifique"></td>
                <td><input type="number"min="0"> </td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
                <td><input type="number"min="0"></td>
            </tr>
            <tr>
                <td> </td>
                <td>Total</td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br>

        <br>
        <div id="divpm">
        <table>
            <tr>
                <td>Puntos Lineales</td><td><input></td>
            </tr>
            <tr>
                <td>PM/2</td><td><input></td>  
            </tr>
        </table>
        </div>

        <div id="btenviar">
            <button style='width:90px; height:50px'><h3>Enviar</h3></button>
        </div>
    </body>

</html>
